/* src/components/FeedItem/FeedItem.module.css */

.itemCard {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: var(--color-post-background);
  /* #D9D9D9 */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

}

.itemCard h4 {
  margin-top: 0;
  margin-bottom: 5px;
  color: var(--color-text-highlight);
  /* #636E72 */
  font-size: 1.1em;
}

.itemCard p {
  margin-bottom: 10px;
  line-height: 1.4;
}

.itemCard small {
  display: block;
  margin-top: 10px;
  color: var(--color-text-highlight);
  border-top: 1px dashed #aaa;
  padding-top: 5px;
}

.typeHighlight {
  font-weight: bold;
  color: var(--color-text-highlight);
  /* #636E72 */
  margin-right: 5px;
  /* Adiciona espaçamento após o colchete */
}