/* src/components/PostagemForm/PostagemForm.module.css */

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.formContainer input,
.formContainer textarea,
.formContainer select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #ccc;
  color: black;

}


.createButton {
  background-color: var(--color-create-button);
  /* #00B894 */
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.createButton:hover:not(:disabled) {
  background-color: #00a082;
}

.createButton:disabled {
  background-color: #a0a0a0;
  cursor: not-allowed;
}

.title {
  color: var(--color-text-highlight);
  /* #636E72 */
  margin-bottom: 0;
}

/* src/components/PostagemForm/PostagemForm.module.css */

.formContainer input:focus,
.formContainer textarea:focus,
.formContainer select:focus {
  /* Remove a borda padrão do navegador */
  outline: none;

  /* Borda no foco: AZUL dos botões primários */
  border-color: var(--color-primary-button);

  /* Sombra para destaque sutil (opcional) */
  box-shadow: 0 0 5px rgba(46, 134, 222, 0.5);
}