/* src/Pages/FeedPage.module.css */

.pageContainer {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;

}

.title {
  color: var(--color-text-highlight);
  /* #636E72 */
  text-align: center;
  margin-bottom: 20px;
}

.filterContainer {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
  justify-content: center;
}

.filterButton {
  background-color: var(--color-primary-button);
  /* #2E86DE */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.filterButton:hover:not(:disabled) {
  background-color: #2a73c9;
}

.filterButton:disabled {
  background-color: #1e5a99;
  /* Cor de destaque para o filtro ativo */
  cursor: default;
}

.contentGrid {
  display: grid;
  gap: 20px;
}

.formSection {
  margin-bottom: 40px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}