/* src/App.css */

:root {
  /* Cores Fornecidas */
  --color-primary-button: #2E86DE;
  /* Botões de Filtro */
  --color-post-background: #D9D9D9;
  /* Fundo de Posts */
  --color-text-highlight: #636E72;
  /* Destaques de Texto */
  --color-create-button: #00B894;
  /* Botões de Criação */
  --color-background: #FFF;
  /* Background */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(240, 247, 245);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

#root,
.appWrapper {
  min-height: 100vh;
  width: 100%;
}

.appWrapper {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}
